body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  /*line-height: 2;*/
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
    font-size: 2.5rem;
  color: #66BFBF;
  padding: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.footer-link{
  color: #11999E;
}

.top-container {
  background-color: #DEF5E5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: .75rem;
  margin: 10px 20px;
  padding: 20px 0 10px 0;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin:auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.AI-Image{
  width: 25%;
  float: left;
  margin-right: 25px;
}

.Webdev-image{
  width: 25%;
  float: right;
  margin-right: 25px;
}

.contact-messsage {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Navbar */
.nav-item {
  font-size: 1.2rem;
}
.nav-link {
  font-size: 1.5rem;
  color: rgb(250, 22, 22) !important;
  font-family: "Montserrat-light"
}

.navbar-toggler {
  background-color: transparent !important;
  border: none; 
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-menu {
  background-color: #9cf8f4;
  --bs-dropdown-min-width: auto !important;
}
.dropdown-item {
  padding: 2px 6px !important; 
  margin: 2px 2px !important;
}
.dropdown-item:hover {
  background-color: #040500;
  color: #ffffff;
  transition: all 0.3s ease; 
}
